<div class="container">
    <div class="card custom-card mt-3">
        <h5 class="card-header text-center"> Why Us </h5>
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
    </div>
</div>

<div class="container d-flex flex-row-reverse">
    <div class="card custom-card mt-3">
        <h5 class="card-header text-center"> How it Works </h5>
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="card custom-card mt-3">
        <h5 class="card-header text-center"> Info </h5>
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
    </div>
</div>
