<div class="container">
  <div class="row">
    <div class="col text-center">
    <button type="submit" class="btn btn-primary btn-lg" id="generate-key">Create Key</button>
    </div>
  </div>
</div>


<div class="row justify-content-center col-12 m-0">
    {{#each keys as | Key |}}
        <div class="card m-3 p-0 col-md-12 col-lg-5">
            <div class="card-body">
                <div class="card-title text-center fs-2">
                    {{Key.key}}
                </div>
            </div>
        </div>
    {{/each}}
</div>

<script src="/js/key.js"></script>