<div class="weekly-weather row justify-content-center col-12">
    <div class="card col-md-12 col-lg-5">
        <div class="card-body w-100">
            <div class="card-title">
                Friday, January 7th
            </div>
        </div>
    </div>
</div>